.general {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  
}

.left-btn {
  margin: 20px;
  padding: 20px;
  display: inline-block;
  font-weight: 600;
  border: 3px;
  background-color: rgb(132, 132, 201);
  color: aliceblue;
  border: 2px solid aliceblue;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 30px;
}
.right-btn {
  margin: 20px;
  padding: 20px;
  display: inline-block;
  font-weight: 600;
  border: 3px;
  background-color: rgb(132, 132, 201);
  color: aliceblue;
  border: 2px solid aliceblue;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
}
.text {
  font-size: 30px;
  background-size: 60px;

}

.left-btn:disabled{
  opacity: 0.50;
  pointer-events: none;
}